@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme {
  --color-mu-red: #DA291C;
  --color-mu-red-dark: #B91C1C;
  --color-mu-black: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
